@model BookMVC.Domain.Entities.Book

@{
    ViewData["Title"] = "Видалити книгу";
}

<h1>Видалити книгу</h1>

<h3>Ви впевнені, що хочете видалити цю книгу?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Назва</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Ціна</dt>
        <dd class="col-sm-10">@Model.Price</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Видалити</button> |
        <a asp-action="Index">Скасувати</a>
    </form>
</div>